/* Coolors Exported Palette - https://coolors.co/8fbfe0-7c77b9-1d8a99-0bc9cd-14fff7 */

/* CSS HEX */
--carolina-blue: #8fbfe0ff;
--tropical-indigo: #7c77b9ff;
--blue-munsell: #1d8a99ff;
--robin-egg-blue: #0bc9cdff;
--fluorescent-cyan: #14fff7ff;

/* CSS HSL */
--carolina-blue: hsla(204, 57%, 72%, 1);
--tropical-indigo: hsla(245, 32%, 60%, 1);
--blue-munsell: hsla(187, 68%, 36%, 1);
--robin-egg-blue: hsla(181, 90%, 42%, 1);
--fluorescent-cyan: hsla(178, 100%, 54%, 1);

/* SCSS HEX */
$carolina-blue: #8fbfe0ff;
$tropical-indigo: #7c77b9ff;
$blue-munsell: #1d8a99ff;
$robin-egg-blue: #0bc9cdff;
$fluorescent-cyan: #14fff7ff;

/* SCSS HSL */
$carolina-blue: hsla(204, 57%, 72%, 1);
$tropical-indigo: hsla(245, 32%, 60%, 1);
$blue-munsell: hsla(187, 68%, 36%, 1);
$robin-egg-blue: hsla(181, 90%, 42%, 1);
$fluorescent-cyan: hsla(178, 100%, 54%, 1);

/* SCSS RGB */
$carolina-blue: rgba(143, 191, 224, 1);
$tropical-indigo: rgba(124, 119, 185, 1);
$blue-munsell: rgba(29, 138, 153, 1);
$robin-egg-blue: rgba(11, 201, 205, 1);
$fluorescent-cyan: rgba(20, 255, 247, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-right: linear-gradient(90deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-bottom: linear-gradient(180deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-left: linear-gradient(270deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-top-right: linear-gradient(45deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-bottom-right: linear-gradient(135deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-top-left: linear-gradient(225deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-bottom-left: linear-gradient(315deg, #8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);
$gradient-radial: radial-gradient(#8fbfe0ff, #7c77b9ff, #1d8a99ff, #0bc9cdff, #14fff7ff);